﻿<!DOCTYPE html>
<html lang="ro">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#000000" />
    <meta charset="utf-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="cache-control" content="cache">
    <meta http-equiv="imagetoolbar" content="no">
    <meta http-equiv="X-UA-Compatible" content="IE=10" />
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, user-scalable=yes, minimum-scale=1.0, maximum-scale=5.0">
    <link href="/Content/assets/img/favicon.png" rel="shortcut icon" type="image/x-icon" />
    <meta name="description" content="Orange Moldova" />
    <meta name="keywords" content="Orange Moldova" />
    <meta name="author" content="Orange Moldova" />
    <meta name='application-name' content="My Orange">
    <meta name="theme-color" content="#FFFFFF" />
    <meta property="og:type" content="website" />
    <meta property="og:site_name" content="My Orange" />
    <meta property="og:title" content="My Orange">
    <meta property="og:url" content="My Orange">
    <meta property="og:image" content="">
    <meta property="og:description" content="My Orange" />
    <meta name="robots" content="index, follow" />

    <link rel="canonical" href="">

    <!--FB app-->
    <meta content="857389801007003" property="fb:app_id">
    <!--Yandex-->
    <meta name="yandex-verification" content="6e85a4e3651ec483" />

    <!-- RSS link-->
    <link rel="alternate" title="WebCareOrange" href="" type="application/rss+xml">

    <meta name='apple-mobile-web-app-capable' content="yes" />
    <meta name="apple-mobile-web-app-title" content="My Orange">
    <meta name="format-detection" content="telephone=no" />

    <link rel="apple-touch-icon" href='~/Content/assets/img/app_ico/apple-touch-icon.png'>
    <link rel='icon' sizes='192x192' href='~/Content/assets/img/app_ico/apple-touch-icon.png'>
    <link rel="apple-touch-icon" sizes="72x72" href="~/Content/assets/img/app_ico/72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="~/Content/assets/img/app_ico/114.png">
    <link rel="apple-touch-icon-precomposed" sizes="128x128" href="~/Content/assets/img/app_ico/128.png">
    <link rel="apple-touch-icon" sizes="144x144" href="~/Content/assets/img/app_ico/144.png">
    <link rel="apple-touch-icon" sizes="150x150" href="~/Content/assets/img/app_ico/150.png">
    <link rel="apple-touch-icon" sizes="152x152" href="~/Content/assets/img/app_ico/152.png">
    <link rel="apple-touch-icon" sizes="167x167" href="~/Content/assets/img/app_ico/167.png">
    <link rel="apple-touch-icon" sizes="180x180" href="~/Content/assets/img/app_ico/180.png">
    <link rel="apple-touch-icon" sizes="192x192" href="~/Content/assets/img/app_ico/192.png">

    <!--Android app-->
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="shortcut icon" sizes="196x196" href="~/Content/assets/img/app_ico/196.png">
    <link rel="shortcut icon" sizes="128x128" href="~/Content/assets/img/app_ico/128.png">
    <!--MS app-->
    <meta name='msapplication-TileImage' content='~/Content/assets/img/app_ico/144.png' />
    <meta name='msapplication-TileColor' content='#CCCCCC' />

    <!--Application mainfest file-->
    <link rel="manifest" href="~/Content/manifest.json">
    <!--
    <script src="./Content/assets/js/oldBrowsers.js"></script>
    -->
    <link href="/Content/assets/css/site.css" rel="stylesheet" />
    <link href="/Content/assets/css/app.css" rel="stylesheet" />
    <link href="/Content/assets/lib/animate_css/animate.min.css" rel="stylesheet" />
    <!--[if lt IE 9]><script async src="assets/js/html5shiv.js"></script><![endif]-->
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-115076189-1"></script>
    <script src="/Content/assets/lib/js/jquery-3.3.1.min.js"></script>
    <script src="/Content/assets/lib/js/priority-nav.min.js"></script>
    <title>My Orange</title>
</head>
<body id="page" class="omd-style omd-style-padding">
    <noscript>You need to enable JavaScript to run this app.</noscript>
    <div id="content"></div>

    <script src="/Content/myOhelper.js"></script>
    <script src="~/assets/bundle.js"></script>
</body>
</html>
