/*
#personal-bar{
	    padding-top: 40px;
}

*/
#beta-box{
	position: absolute;
    right: 2.5%;
    top: 96px;
    bottom: 0;
    z-index: 949;
    overflow: hidden;
    font-family: Arial;

}
#beta-box h2{
	line-height: 48px !important;
	font-size: 25px !important;
}
#beta-box .beta-icon{
	width: 90px;
	transition: transform .2s ease-in-out;
	transform: scale(1);
	cursor: pointer;

}

#beta-box .beta-icon img{display: block; width: 100%; margin: 0 auto;}

#beta-box .beta-icon:hover{transform: scale(1.05); cursor: pointer;}


#beta-box .beta-contents{ 
	position: fixed;
	z-index: 998;
	width: 100%;
	height:100%;
	left:0;
	top:0;
	background: rgba(0,0,0,.8);
	transform: scale(0);
	display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

}
#beta-box .beta-contents.active{transform: scale(1);}

#beta-box .beta-contents > .inner{
	
	left:50% !important;
	top:50% !important;
	background: #fff !important;
	margin: -50px -170px !important;
	padding:20px !important;
	width: 80% !important;
  max-width: 320px !important;
  box-sizing: border-box !important;

}

#beta-box.theme-b .beta-contents > .inner,
#beta-box.theme-c .beta-contents > .inner{
	
	
	padding:0px !important;
	

}


#beta-box  .popup-close-icon{
	position: absolute;
    color: #999;
    font-weight: normal;
    font-size: 30px;
    line-height: 30px;
    right: -5px;
    top: -12px;
    cursor: pointer;
}
#beta-box  .popup-close-icon:hover{
	color:#000;
}


#beta-box  .flow-step{
	display: block;
  float: left;
  width: 100%; 
  position: relative;
}


#beta-box  .fi-mobile{display:block !important;}
#beta-box  .fi-dtop{display:none !important;}


/* Tablet Layout: 481px to 768px.*/
@media only screen and (min-width: 481px) {
	#beta-box{
		position: absolute;
		right: 7%;
		top:168px;
		bottom:inherit;
		z-index: 948;
		margin-top:-48px;
		
		// 
		
		overflow: hidden;
		font-family: Arial;

	}
	
	#beta-box .beta-icon{
		width: 120px;
		transition: transform .2s ease-in-out;
		transform: scale(1);
		cursor: pointer;
		
	}

	#beta-box.theme-c{
	right: 4.7%;
    top: 109px;
	}

	#beta-box  .fi-mobile{display: none !important;}
	#beta-box  .fi-dtop{display: block !important;;}
}
