﻿.numbers-only {
    /*sadsad*/
}

input[type='number'].numbers-only {
    -moz-appearance: textfield;
}

input[type=number].numbers-only::-webkit-inner-spin-button,
input[type=number].numbers-only::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

#options-n-services ul.list > .list-item.type-b {
    width: 100%;
}

#loading-div {
    position: fixed;
    background: rgba(0,0,0,0.2);
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    left: 0;
    top: 0;
    z-index: 999999;
    cursor: wait;
    display: none;
}

    #loading-div.active {
        display: block;
    }

#loader-icon-holder {
    position: fixed;
    /*margin: 0;*/
    padding: 0;
    width: 40px;
    height: 40px;
    left: 50%;
    top: 50%;
    margin: -20px 0 0 -20px;
}

.preloader {
    display: inline-block;
    background: url(/Content/assets/img/preloader.png);
    background-repeat: no-repeat;
    background-size: 12px 12px;
    width: 12px;
    height: 12px;
    margin: 0;
}

.rotating {
    -webkit-animation: rotating 3s cubic-bezier(0, 0, 0, 0) infinite;
    animation: rotating 3s cubic-bezier(0, 0, 0, 0) infinite;
}

.w_20 {
    background-size: 15px 15px;
    width: 15px;
    height: 15px;
}

[data-scope="sub-title"] span {
    color: black;
}

.icon-Warning-important::before {
    padding-right: 5px;
}

[data-scope="sub-title"] {
    padding-top: 5px;
}

#options-n-services ul.list > .list-item.type-b, #options-n-services ul.list > .list-item.type-a {
    margin: 0 2% 20px 2% !important;
    width: 96% !important;
}

ul.tab-d.theme-a > li {
    vertical-align: top;
}

    ul.tab-d.theme-a > li:nth-child(1) {
        width: 70%;
    }

#dashboard-widget-bonus-a {
    background: #4BB4E6 url(/Content/assets/img/promo-section/bonus-ico-m.png) no-repeat;
    background-size: 50%;
    background-position: 95% 70%;
    margin-top: 20px;
}

    #dashboard-widget-bonus-a .inner {
        padding: 30px 20px;
    }

    #dashboard-widget-bonus-a .flex-container > div {
        flex-basis: 65%;
    }

/* Tablet Layout:481px to 768px. Inherits styles from:Mobile Layout. */
@media only screen and (min-width: 481px) {
    #dashboard-widget-bonus-a {
        background: #4BB4E6 url(/Content/assets/img/promo-section/bonus-ico.png) no-repeat;
        background-size: 40%;
        background-position: 90% 60%;
        margin-top: 20px;
    }

        #dashboard-widget-bonus-a .inner {
            padding: 40px;
        }

        #dashboard-widget-bonus-a .flex-container > div {
            flex-basis: 60%;
        }
}

/* Desktop Layout:769px to a max of 1232px. Inherits styles from:Mobile Layout and Tablet Layout. */
@media only screen and (min-width: 769px) {
    #dashboard-widget-bonus-a {
        margin-top: 20px;
    }

        #dashboard-widget-bonus-a .inner {
            padding: 40px;
        }

        #dashboard-widget-bonus-a .flex-container > div {
            flex-basis: 50%;
        }
}

/*For Dasboard gouges aliiation */
#dashboard-widget-balance ul.bl-w > li {
    display: table-cell;
    vertical-align: top !important;
}
 
/*Invoices and dashboard fixes design refore relaise*/
.txt-nowrap {
    white-space: nowrap;
}
.inv-c-tab > li:nth-child(2) {
    width: 70% !important;
}


